<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ba.yo.innovativepasswordmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name_short"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, label">
        <activity
            android:name=".ui.EntitySelectActivity"
            android:label="@string/application_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.EditMasterPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.EditEntryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.AppletSelectActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ManageDataSelectActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.DumpDataActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.DeleteDataActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>